<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402527378060-mghr2rp3e2c1a3gj3ip5vv6urodsmdft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402527378060-mghr2rp3e2c1a3gj3ip5vv6urodsmdft</string>
	<key>API_KEY</key>
	<string>AIzaSyDRSapziH8-o7meGUlw3IK0OE76W2n2tSY</string>
	<key>GCM_SENDER_ID</key>
	<string>402527378060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toualbiamine.NYT-Instant</string>
	<key>PROJECT_ID</key>
	<string>instant-d06ba</string>
	<key>STORAGE_BUCKET</key>
	<string>instant-d06ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402527378060:ios:a23683c24198f870</string>
	<key>DATABASE_URL</key>
	<string>https://instant-d06ba.firebaseio.com</string>
</dict>
</plist>